{{#each items as |item|}}

<!-- {{> partial}} -->

 <!-- Developers, why are we using data-id and not just id? -->
  <!-- <h1 > </h1> -->
<div data-id="{{item.id}}" class="removeBooks {{item.id}}"> item.id: {{item.id}} </div>
  <ul class="removeBooks {{item.id}}">
    <li class="removeBooks {{item.id}}">
      <small>
        {{#if item.name}}
          {{item.name}}
        {{else}}
          No name.
        {{/if}}
      </small>
    </li>
  </ul>
  <div class="remove-group {{item.id}}" data-id="{{item.id}}">
    <button type="button" class="removeBooks removeBooksButton {{item.id}}" >
      Remove
    </button>
    <!-- <button type="button" class="removeBooks removeBooksButton {{item.id}}" > -->
      <!-- need a form or something here -->
      <!-- Update
    </button> -->
    <form class="update-group {{item.id}}" id="{{item.id}}">
      <fieldset>
        <!-- <legend>New Item!</legend> -->
        <input type="text" class="update-item-class {{item.id}}" placeholder="item 29 current text"> <!-- name="items[new]"> -->
        <input type="submit" value="Update Item 29!" class="update-item-class" > <!-- name="submit"  -->
        <div class="errors-update-item" > </div>
      </fieldset>
      <!-- <button id="createItemsButton" class="btn btn-default new-item-class">Create Items!</button> -->
    </form>
  </div>

{{/each}}
