{{#each items as |item|}}

<!-- {{> partial}} -->

 <!-- Developers, why are we using data-id and not just id? -->
  <!-- <h1 > </h1> -->
  <ul data-id="{{item.id}}" class="removeBooks {{item.id}}">
  <div class="removeBooks {{item.id}}"> item.id: {{item}} {{item.id}} </div>
    <!-- <li class="removeBooks {{item.id}}">
      Title: {{item.id}}
    </li> -->
    <li class="removeBooks {{item.id}}">
      <small>
        {{#if item.name}}
          {{item.name}}
        {{else}}
          No name.
        {{/if}}
      </small>
    </li>
    <li>
      <button type="button" id="{{item.id}}" class="removeBooks removeBooksButton {{item.id}}" >
        Remove
      </button>
      <button type="button" id="{{item.id}}" class="removeBooks removeBooksButton {{item.id}}" >
        <!-- need a form or something here -->
        Update
      </button>
    </li>
  </ul>

{{/each}}
