{{#each items as |item|}}

<!-- {{> partial}} -->

  <li id="total-{{item.id}}" data-id="{{item.id}}" class="container col-md-12 box items {{item.id}} list-unstyled">
    <form class=" {{item.id}} update-item container" id="{{item.id}}">
      <!-- update -->
        <input type="text" id="input-{{item.id}}" placeholder="{{item.name}}" required>
        <input type="submit" value="Update Item!" class="update-item">
      <!-- remove -->
        <input type="submit" id="{{item.id}}" value="Remove Item!" data-id="{{item.id}}" class="remove-item">
    </form>
  </li>
{{/each}}
